<a href="https://colab.research.google.com/github/yoonhyun123/AI/blob/main/BIGDATA_2day_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
money=int(input("지폐로 교환할 금액을 입력하세요."))
print(type(money))

지폐로 교환할 금액을 입력하세요.1234
<class 'int'>

In [ ]:
money=int(input("지폐로 교환할 금액을 입력하세요."))
print(type(money))

fifty=money//50000
money%=50000

ten=money//10000
money%=10000

five=money//5000
money%=5000

one=money//1000
money%=1000

print("5만원:",fifty)
print("1만원",ten)
print("5천원:",five)
print("1천원:",one)
print("잔돈:",money)

In [ ]:
import random

answer=random.randint(1,100)

tries=0

while tries<10 :
  num = int(input("1에서부터 100까지 숫자를 맞춰보세요."))
  tries+=1

  if num<answer:
    print("정답은 더 큰 숫자입니다.")
  elif num>answer:
    print("정답은 더 작은 숫자입니다.")
  else:
    print(tries, "번 시도만에 정답을 맞추었습니다.")
    break

1에서부터 100까지 숫자를 맞춰보세요.50
정답은 더 작은 숫자입니다.
1에서부터 100까지 숫자를 맞춰보세요.35
정답은 더 작은 숫자입니다.
1에서부터 100까지 숫자를 맞춰보세요.10
정답은 더 작은 숫자입니다.
1에서부터 100까지 숫자를 맞춰보세요.2
정답은 더 큰 숫자입니다.
1에서부터 100까지 숫자를 맞춰보세요.8
정답은 더 작은 숫자입니다.
1에서부터 100까지 숫자를 맞춰보세요.7
6 번 시도만에 정답을 맞추었습니다.

In [ ]:
import random


score=0


while True :
  answer=random.randint(1,3)
  guess=int(input("첫번째방 두번째방 세번째방에 범인이 어디있는지 알아맞춰보세요"))

In [ ]:
#for 문은 마지막 자리를 포함 안함
#for i int range(1,101) 101은 포함 안함

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-4-7e55b0572efc>, line 5)

In [ ]:
#리스트

hero=["hulk","iron man","superman"]
print(len(hero))

3

In [ ]:
ssn="991225-24698123"
print(ssn[7])

2

In [ ]:
heroes = ["아이언맨", "토르", "헐크", "스칼렛위치"]

for hero in heroes:
    print(hero)

아이언맨
토르
헐크
스칼렛위치

In [ ]:
import random

quotes = []
quotes.append("꿈을 지녀라. 그러면 어려운 현실을 이길 수 있다.")
quotes.append("고생 없이 얻을 수 있는 진실로 귀중한 것은 하나도 없다.")
quotes.append("사람은 사랑할 때 누구나 시인이 된다.")
quotes.append("시작이 반이다.")

print(quotes)

today_quote = random.choice(quotes)
print(today_quote)

['꿈을 지녀라. 그러면 어려운 현실을 이길 수 있다.', '고생 없이 얻을 수 있는 진실로 귀중한 것은 하나도 없다.', '사람은 사랑할 때 누구나 시인이 된다.', '시작이 반이다.']
시작이 반이다.

In [ ]:
new_list = [["홍길동", "010-4444-2222",30], ["이순신", "010-1234-2412",23]]
print(len(new_list))
print(new_list[0])
print(new_list[1])
print(new_list[0][0])
print(new_list[0][1])
print(new_list[0][2])

2
['홍길동', '010-4444-2222', 30]
['이순신', '010-1234-2412', 23]
홍길동
010-4444-2222
30

In [ ]:
#리스트튼 for loop와 궁합이 좋음

for i in[1,2,3]:
    print(i)

1
2
3

In [ ]:
zip_code=["033772","12345","34322"]

zip_code=("033772","12345","34322")
#딕셔너리는 키값으로 접근함 리스트는 리스트 번호로 접근가능 a[0] 이런식

In [ ]:
fruits = {
    "콜라": 4,
    "바나나": 8,
    "오렌지": 12,
    "포도": 15
}

# 사용자 입력 받기
item = input("물건의 이름을 입력하시오: ")

# 입력한 물건이 딕셔너리에 있는지 확인하고 출력
if item in fruits:
    print(f"{item}: {fruits[item]}개")
else:
    print("해당 물건은 목록에 없습니다.")

물건의 이름을 입력하시오: 콜라
콜라: 4개

In [ ]:
# 빈 딕셔너리 생성
mart = {}

# 5개의 품목과 수량 입력받기
for i in range(5):  # range를 ()로 감싸기
    item = input("품목명: ")
    quantity = int(input("수량: "))
    mart[item] = quantity  # 품목과 수량 저장

# 입력된 품목 출력
print(mart)

# 검색할 품목 입력받기
q = input("검색하고자 하는 품목명을 입력하세요: ")

# 입력한 품목의 수량 출력
if q in mart:  # 품목이 딕셔너리에 있는지 확인
    print(f"{q}: {mart[q]}개")
else:
    print("해당 품목은 목록에 없습니다.")

품목명: 콜라
수량: 4
품목명: 콜라
수량: 4
품목명: 오렌지
수량: 4
품목명: 사이다
수량: 5
품목명: 오렌지
수량: 6
{'콜라': 4, '오렌지': 4, '사이다 ': 5, '오렌지 ': 6}
검색하고자 하는 품목명을 입력하세요: 콜라
콜라: 4개

In [ ]:
def cal_average(numbers):
    if len(numbers) == 0:
        return 0

    return sum(numbers) / len(numbers)  # 합을 개수로 나눠 평균 구함

numbers = []

while True:
    command = input("명령을 입력하세요(i,d,q): ")
    if command == 'i':
        data = int(input("숫자를 입력하세요: "))
        numbers.append(data)
        average = cal_average(numbers)  # 평균 계산
        print("{} avg: {:.2f}".format(numbers, average))
    elif command == 'd':
        if numbers:
            numbers.pop()
            average = cal_average(numbers)  # 평균 계산
            print("{} avg: {:.2f}".format(numbers, average))
        else:
            print("삭제할 숫자가 없습니다.")
    elif command == 'q':
        print("quit")
        break  # 루프 종료
    else:
        print("잘못된 명령입니다.")

명령을 입력하세요(i,d,q): i
숫자를 입력하세요: 20
[20] avg: 20.00
명령을 입력하세요(i,d,q): d
[] avg: 0.00
명령을 입력하세요(i,d,q): i
숫자를 입력하세요: 30
[30] avg: 30.00
명령을 입력하세요(i,d,q): i
숫자를 입력하세요: 20
[30, 20] avg: 25.00
명령을 입력하세요(i,d,q): d
[30] avg: 30.00
명령을 입력하세요(i,d,q): d
[] avg: 0.00
명령을 입력하세요(i,d,q): i
숫자를 입력하세요: 230
[230] avg: 230.00
명령을 입력하세요(i,d,q): i
숫자를 입력하세요: 21300231
[230, 21300231] avg: 10650230.50
명령을 입력하세요(i,d,q): i
숫자를 입력하세요: 12402410421
[230, 21300231, 12402410421] avg: 4141236960.67
명령을 입력하세요(i,d,q): i
잘못된 명령입니다.
명령을 입력하세요(i,d,q): 42100421
잘못된 명령입니다.
명령을 입력하세요(i,d,q): d
[230, 21300231] avg: 10650230.50
명령을 입력하세요(i,d,q): d
[230] avg: 230.00
명령을 입력하세요(i,d,q): d
[] avg: 0.00
명령을 입력하세요(i,d,q): d
삭제할 숫자가 없습니다.
명령을 입력하세요(i,d,q): q
quit

In [ ]:
students = []

for i in range(2):
    id = input("아이디: ")
    name = input("이름: ")
    kor = int(input("국어점수: "))
    eng = int(input("영어점수: "))
    math = int(input("수학점수: "))
    total = kor + eng + math  # 'sum'은 내장 함수이므로 다른 이름 사용
    students.append([id, name, kor, eng, math, total])

# 학생 정보 출력
for student in students:
    print(student)

# 이름으로 정렬
sorted_by_name = sorted(students, key=lambda x: x[1])  # 임시 무명 함수 (lambda)
print("\n이름으로 정렬한 결과:")
for student in sorted_by_name:
    print(student)

# 총점으로 정렬
sorted_by_total = sorted(students, key=lambda x: x[-1])  # 임시 무명 함수 (lambda)
print("\n총점으로 정렬한 결과:")
for student in sorted_by_total:
    print(student)

아이디:  kim,
이름: 홍길동
국어점수: 90
영어점수: 80
수학점수: 70
아이디: ㅈㄷ
이름: 2ㄱㄷ저ㅏㅣ;
국어점수: 213
영어점수: 213
수학점수: 123
[' kim,', '홍길동', 90, 80, 70, 240]
['ㅈㄷ', '2ㄱㄷ저ㅏㅣ;', 213, 213, 123, 549]

이름으로 정렬한 결과:
['ㅈㄷ', '2ㄱㄷ저ㅏㅣ;', 213, 213, 123, 549]
[' kim,', '홍길동', 90, 80, 70, 240]

총점으로 정렬한 결과:
[' kim,', '홍길동', 90, 80, 70, 240]
['ㅈㄷ', '2ㄱㄷ저ㅏㅣ;', 213, 213, 123, 549]